<% include ../partials/header %>


<br>
<br>
<br>
<br><br><br>			
              <!-- Blogs Display Section -->
							<article class="col-md-12">
								<div class="cards-1 section- background">
										<div class="container">
												<div class="row">
														<div class="col">
																<div class="card card-blog">
																		<div class="card-image">
																				<a href="#"> <img class="img" src="<%-found_post.image%>"> </a>
																				<div class="ripple-cont"></div>
																		</div>
																		<div class="table">
																				<!-- <h6 class="category text-success"><i class="fa fa-university"></i>Creed</h6> -->
																				<!-- <h6 class="category text-success">Creed</h6> -->
																				<h4 class="card-caption">
																		<a href="#"><%-found_post.title%></a>
														</h4>
																				<p class="card-description">
																					<%-found_post.body%>
																				</p>


																				<div class="post-meta">
																					<span><i class="far fa-user"></i> By <a href="#"><%-found_post.author%></a> </span>
																					<span><i class="far fa-comments"></i> <a href="#">
																						<%= found_post.comments.length %>
																						comment<% if (found_post.comments.length > 1){%>s
																									<% } else {}; %>
																					</a></span>
																				</div>
																				
																		</div>
																</div>
														</div>
												</div>
										</div>
								</div>								
						</article>



											
<!-- ################  COMMENT SECTION      ########################################## -->


					
<section class="commentSection">
	<p>
			<button class="commentCounterBtn">
				<a class="commentCounterText" href="#">
					<%= found_post.comments.length %>
				COMMENT<% if (found_post.comments.length > 1){%>S
							<% } else {}; %>
				</a>
		</button>
			<button class="addNewCommentBtn pullRight">
					<a class="addNewCommentText" href="/posts/<%=found_post._id%>/comments/new">
						Add New Comment
					</a>
			</button>
	</p>

	<br>
	<br>

<% found_post.comments.forEach(function(comment){ %>
			
	<div class="row">
		<div class="col-md-12"></div>
				<p>
					<i class="fas fa-user" aria-hidden="true"></i>    
					<strong style="color: rgb(222, 191, 115)">
						<%= comment.author.username %>
					</strong>
				</p>
				
			<p style="font-size: small;"><%= comment.body %></p>
			<br>

	<% if(currentUser && String(comment.author.id) === String(currentUser._id)){ %>
			<a class="btn btn-xs btn-warning"
				href="/posts/<%=found_post._id%>/comments/<%=comment._id%>/edit">
				Edit
			</a>
			<form id="delete-book" action="/posts/<%=found_post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
				<input type="submit" class="btn btn-xs btn-danger" value="Delete"> </input>
			</form>
	<% }%>
	</div>
<% }); %>
<br>




<!-- <div class="col text-center">
	<button class="btn btn-default read-more">
		<a href="/shortstories">
			You like short stories?
		</a>
	</button>
</div> -->


<div class="col text-center">
	<button class="btn btn-default read-more">
		<a href="http://www.myquranjourney.net">
			Join us in this journey!
		</a>
	</button>
</div>
</section>
<br>


<!-- ################  End of comment section      ########################################## -->


<br>
<br>
<br>


<div class="container">
<div class="row">
	<!-- <h6 class="blogTitle" style="text-align: center">SUbscribe to our newsletter</h6> -->
	<div style="width: 60%; margin: 25px auto;">
	<form action = "/subscribe" method = "post">
		<div>
			<h4 style="text-align: center;">Want more of this?
			<br>
			<br>
			We would deliver lots more into your inbox
		</h4>
		<br>
			
		</div>
		<!-- <br> -->
			<div class="form-group inner-addon left-addon">
			<input class="form-control" type="text" name="firstName" placeholder="First Name" required >
			</div>
			<div class="form-group inner-addon left-addon">
				<input class="form-control" type="text" name="lastName" placeholder="Last Name" required >
				</div>
			<div class="form-group inner-addon left-addon">
			<input class="form-control" type="email" name="email" placeholder="Email" required >
			</div>
			<div class="form-group">
			<input style="background-color: rgb(222, 191, 115); border: none;" class="btn btn-lg btn-primary btn-block" type="submit" value = "Subscribe">
			</div>
	</form>
</div>
</div>
</div>

<% include ../partials/footer %>
